/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

@import "slick";
@import "slick-theme"; 

.slick-next {
    right: 10px;
 }

.slick-prev {
    left: 10px;
 }

.fill { 
    min-height: 100%;
    height: 100%;
}

.notice {
  color: white;
  background-color: #BAD3FF;
  padding: 12px 20px 12px 20px;
}

.alert {
  color: white;
  background-color: #FFCCCC;
}

.login {
   height: 4rem;
}

.ue{
    pointer-events: none;
}

.ue2{
    pointer-events: auto;
}

.pagination {
    margin-top: 1rem;
    margin-bottom: 1rem;
    justify-content: center;
}

.video {
 width: 100vw;
 height: 100vh;
 position: absolute;
 display: flex;
 justify-content: center;
 object-fit: cover;
 top: 0;
 z-index: -2;
}

.video_wrap {
  position: relative;
}

h1.h1 {
  font-family: serif;          
  color: #fff;
  font-size: 400%;
}

.error_list {
    padding: 10px 30px;
	color: #ff2e5a;
	font-size: 86%;
	text-align: left;
	border: 1px solid #ff2e5a;
	border-radius: 5px;
}