/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';
@import "simple_calendar"; 

@import "slick";
@import "slick-theme"; 

.slick-next {
    right: 10px;
 }

.slick-prev {
    left: 10px;
 }

.fill { 
    min-height: 100%;
    height: 100%;
}

header{
    a {
    color: white;
    font-family: "游ゴシック";
    font-weight: bold;
    }
    a:hover {
    color: rgba(255, 255, 255, 0.75);
    }
}

// ヘッダーのlocaleリンクのデザイン
.language-text{
    padding-top: 58px;
    margin-left: 10px;
}

//タブレット縦置きサイズ（768px）以下の設定
@media screen and (max-width:768px) {
.language-text{
    padding-top: 10px;
    text-align: right;    
  }
}
//  スマートフォンサイズ（425px）以下の際に適用される設定
@media screen and (max-width:425px) {
.language-text{
    padding-top: 10px;
    text-align: right;    
  }
}

// attachmentfieldのデザイン
.attachment_field{
    width: 130px;
    height: 28px;
}

.attachment_relative{
    position:relative;
}    

.attachment-absolute{
    position:absolute;
    width: 135px;
    text-align: center;
    padding: 5px 0;
    pointer-events: none;
    top: 0;
    left: calc(-0.7%);
    background-color: #EEEEEE;
    border-radius:7px;
    // border: 1px solid;
}  

// ヘッダーの色
.header-background{
    background-color: #555555;
}

.notice {
  color: white;
  background-color: #BAD3FF;
  padding: 12px 20px 12px 20px;
}

.alert {
  color: white;
  background-color: #FFCCCC;
}

.login {
   height: 4rem;
}

.ue{
    pointer-events: none;
}

.ue2{
    pointer-events: auto;
}

.pagination {
    margin-top: 1rem;
    margin-bottom: 1rem;
    justify-content: center;
}

.error_list {
    padding: 10px 30px;
	color: #ff2e5a;
	font-size: 86%;
	text-align: left;
	border: 1px solid #ff2e5a;
	border-radius: 5px;
}

// ログインページのCSS
.position_parent{
    position:relative;
}

.position_child{
    position: absolute;
    top: calc(43%);
    left: calc(50%);
    // これをいれないスマホで綺麗にみれない
    // 参考：https://www.billionwallet.com/homepage/transform-translate.html
    transform: translate(-50%,-50%);
}

.background_video{
    min-height: 100vh;
    height: 100vh; 
    object-fit: cover; 
    vertical-align:top; 
    filter:blur(3px) 
    contrast(65%);
}

h1.h1 {
  font-family: serif;          
  color: #fff;
  font-size: 280%;
}

.login_title{
    max-width:300px;
    width:300px;
    margin: 0 auto;
}
.login_h2{
    font-size: 1.2em;
    text-align:center; 
    color:white; 
}

// トップページ

// タイムラインのトップ画の名前の大きさ
.allign-center{
    font-size: 67%;
}

.simple-calendar {
  .wday-0 {
      background-color: #FFEFD5;
  }
  .wday-6 {
      background-color: #FFEFD5;
  }

  .today {
      background-color: #F0F8FF;
  }
}

// カレンダーの月部分のフォントサイズ
.font-size-calendar {
    font-size: 33px;
}

// カレンダーのタイトルのフォントサイズ
.calendar-font {
    font-size: 10px;
}